body {
  background-color: #000080;
}


h1 {
  color: lime;
  text-align: center;
}
p {color:white;}
h2.b { font-family: 'Brush Script MT', cursive;
color:white;
text-align:center;}
p.a {
  font-family: verdana;
  font-size: 20px;
}
p.a::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
body {
  background-color: #000080;
}


h1 {
  color: lime;
  text-align: center;
}
h4 { font-family: 'times new roman,' serif;
color: yellow}
p {color:white;}
h2.b { font-family: 'Brush Script MT', cursive;
color:white;
text-align:center;}

p.a {
  font-family: verdana;
  font-size: 20px;
}
p.a::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
p.c {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

